    .row {
		margin-top: 20px;
	}
    .cell {
	    background: rgb(59 60 60 / 56%);
		color: rgb(245, 245, 17);
		font-size: 25px;
		margin-left: 5px;
		margin-right: 5px;
	}
   .hgr {
	    background: #161616ba;
	}
	.input {
		background: transparent;
		border: transparent;	
		
	}
	.body {
		text-rendering: auto;
		background-image: url(backgroundImage.jpeg);
		font-family: Roboto,Helvetica,Arial,sans-serif;
		background-size: cover;
	}
